/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/vendor/livewire
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

## Project exclude paths
composer.lock
package-lock.json

## Docker
/.docker

## Log
*.log
