.profile_info {background:#fff;box-shadow:var(--shadow);border-radius:20px;overflow:hidden;}
.profile_cover {height:200px;background-size:cover;background-position:center;border-radius:20px;border:2px solid var(--primary-color);}
.profile_photo {margin: 0 auto;width:80px;height:80px;background-color:var(--primary-color);border-radius:50%;border:2px solid var(--primary-color);background-size:cover;background-position:center;}
